@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 20px 0 0 0;
}

.probability-text {
  font-size: 0.8rem; 
  color: white
}

.y-axis text{
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(148, 198, 239)
}

.y-axis path, .y-axis line {
  display: none;
}