@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 20px 0 0 0;
}

.probability-text {
  font-size: 0.8rem; 
  color: white
}

.y-axis text{
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(148, 198, 239)
}

.y-axis path, .y-axis line {
  display: none;
}

input {
  border-radius: 4px; /* Rounded corners */
}

select {
  appearance: none; /* Removes the default arrow in some browsers */
  -webkit-appearance: none; /* Removes the arrow in Safari */
  -moz-appearance: none; /* Removes the arrow in Firefox */
  background-color: #f0f0f0; /* Background color */
  border: 1px solid #ccc; /* Border */
  padding: 10px; /* Padding inside the dropdown */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Font size */
  color: #333; /* Text color */
  outline: none; /* Removes the outline when focused */
  cursor: pointer; /* Pointer cursor */
}